<%- include("../partials/header") %>
<%- include("../partials/menu") %>
                  
                  

                                    <div>
                                      <h1>ola mundo</h1>
                                    </div>


<%- include('../partials/footer'); %>            
                                    