                         <footer class=" fonte  pt-3    static-bottom   ">
                                                      
                                    <div class="container d-flex justify-content-center text-light my-5   ">
                                                      <a href="#" class="google px-3"><i class="fa fa-facebook"></i></a> 
                                                      <a href="https://www.instagram.com/teatro_de_encantarias_/" class="google px-3"><i class="fa fa-instagram"></i></a>
                                                      <a href="#" class="google px-3"><i class="fa fa-youtube"></i></a>  
                                    </div>
                                    <a class="  nav-link fs-6 text-warning text-center" href="home">Web Page desenvolvida por PixelClocksStudio</a>
                                    </footer>
                  
                  </body>
</html>