  
        <main class="fonte  container-fluid" >

                
                
               
               
               

              


                  <div class="border border-light p-3 mx-auto my-5  text-light"style="width:23em">
    
                  <form action="/falaComAgenteForm" method="POST">
    
                 
    
                  <div class="mb-3  ">

 
                                    <h4 class="card-title text-center text-warning my-4">Fale com agente</h4>


                                    <label for="exampleFormControlInput1" class="form-label">Escreva seu nome</label>
                      
                                    <input name="name_form" type="text" class="form-control"  placeholder="name" aria-label="name" aria-describedby="addon-wrapping">

                      <label for="exampleFormControlInput1" class="form-label">Escreva seu email</label>
                      <input name="email_form" type="email" class="form-control"  id="exampleFormControlInput1" placeholder="e-mail">
                    </div>
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Me mande uma mensagem</label>
                      <textarea name="msg_form" class="form-control"  id="exampleFormControlTextarea1" rows="3"></textarea>
                      
                      <button id="alertaMsg" class="my-3 btn btn-warning mx-auto d-block">Enviar</button>
                    </div>
                   
                  </form>
                </div>          
            </main>