<body class="bg-dark">



                  <nav class="navbar navbar-expand-lg bg-dark opacity-75 sticky-top   " data-bs-theme="dark">
                                    <div class="container-fluid  ">
                                      <img src="img/logo.png" class="p-2"  alt="" style="width: 4em;">
                                      
                                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon "></span>
                                      </button>
                                      <div class="collapse navbar-collapse  " id="navbarNav">
                                        <ul class="navbar-nav text-light ">
                                          <li class="nav-item ">
                                            <a id="menuHome" class="nav-link  " aria-current="page" href="/">Home</a>
                                          </li>
                                          <li class="nav-item">
                                            <a id="quemSomos" class="nav-link " href="quemSomos">Quem somos</a>
                                          </li>
                                          <li class="nav-item">
                                            <a id="faleComAgente" class="nav-link "  href="faleComAgente">Fale com agente</a>
                                          </li>
                                          
                                          <li class="nav-item">
                                            <a class="nav-link" href="/admin/categories/new">admin</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                  </nav>
                  
                 
                  
                  