
body {
 
                  background-image: url("/img/artebranca3.png");
                }
                .google {
                  font-size: 60px;
                  color: #ff7300;
                  
                }