<%- include("../partials/header") %>
<%- include("../partials/menu") %>
                  
                  


<div class="container d-flex justify-content-center text-light  ">

                 
                  <div class=" p-3 mx-1  " style="width: 58rem;">
                    <img src="img/cartaz.jpg" class="rounded card-img-top " alt="...">
                    <div class="card-body my-3 ">
                      <h5 class="card-title text-center   p-5 ">Do Cinema para o Teatro Ou do Teatro para o Cinema?</h5>
                      <p class="card-text">
                        
                        “Encantadores de corpos e palavras que podem fustigar e
                        atazanar a razão intransigentes e propor maneiras plurais
                        de existências pela radicalidade do encanto em meio as
                        doenças geradas pela retidão castradora do mundo como
                        experiência singular de morte.”
                        
                        A proposta de encenação do espetáculo Sonho de Pedra- a
                        sétima noite foi iniciada durante a pandemia de coronavírus a
                        partir dos estudos sobre “os estados do luto em três atos” e
                        transformado em um curta metragem experimental premiado no 29°
                        Festival de Cinema de Vitória a partir de uma pesquisa cênica
                        relacionando antropologia teatral, teatro e povos indígenas,
                        cinema e performance.
                        O roteiro da peça como continuidade estética do roteiro do
                        filme homônimo tem autoria de Thabata Ewara sob a colaboração do
                        ator indígena Cauã Borari. Memórias adormecidas em toda a nossa
                        constituição óssea e um ponto de partida: Um rito de passagem
                        que atravessa o tempo linear sob a dramaturgia de personagens
                        nômades dimensionais em busca de seus lugares ancestrais.
                        Das margens de grandes rios as travessias oceânicas
                        imigratória sem nome nem pátria. Das lutas travadas por
                        territórios símbolos soterrados e confrontados pelas
                        imemoriáveis e incansáveis rupturas históricas. Uma experiência
                        teatral imersiva sob um mergulho nas encantarias espalhadas
                        pelas manifestações mítico-populares brasileiras.</p>
                    
                    </div>
                  </div>
                  
                  
                 
                  
                  
                  
                  
</div> 




<div class="container d-flex justify-content-center text-light  ">

<div class=" mx-1 " style="width: 58rem;">
  <div class="row g-0 ">
    <div class="col-md-4 p-3  ">
      <img src="img/cartaz.png" class="img-fluid rounded" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body my-3">
        <h5 class="card-title m-4 p-3">Sonho de Pedra a Sétima Noite</h5>
        <p class="card-text">Sonho de Pedra é um experimento
          cênico sobre trajetórias e territórios simbólicos
          relacionados ao luto, como processo de continuidade do
          filme curta metragem homônimo produzido durante a
          pandemia. Um Manifesto Onírico de passagem em
          múltiplas linguagens: Antropologia Teatral, Teatro e
          Povos Indígenas, Cinema e Performance.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

</div>






  <div class="container d-flex justify-content-center text-light  ">

                 
    <div class=" p-3 mx-1  " style="width: 48rem;">
      <img src="img/logo.png" class="rounded card-img-top mx-auto d-block "style="width: 16rem;" alt="...">
      <div class="card-body my-3 ">
        <h5 class="card-title text-center   p-5 ">Breve Histórico</h5>
        <p class="card-text"> A cia Teatro de Encantarias nasce em 2010, fruto de uma
            pesquisa em antropologia teatral intitulada: Corpo, Memória e
            Cultura dos Povos desenvolvida pela artista Thabata Ewara e
            premiada pela FUNARTE/MINC-Prêmio Interações Estéticas (2011.
            Realizada inicialmente na região amazônica do Pará as margens
            dos rios Amazonas e Tapajós pesquisando teatralidades míticos
            populares (poéticas do imaginário) por meio das “corpOralidades”
            presentes nas manifestações culturais e históricas da região
            norte. Entre as principais montagens estão A Sombra do Merizeiro
            (2011), Vento ao Leste, Enquanto Sopra o Tempo (2012)
            Encantarias de Céu e Barco (2013/2016) e Sonho de Pedra
            realizado por meio do prêmio PROACLab (2021) no formato curta
            metragem, premiado como melhor filme categoria experimental no
            29° Festival de Cinema de Vitória (2022) e contemplado pela
            Secretaria Municipal de Cultura-SP na 2° Edição do Edital
            Múltiplas Linguagens(2022/2023)no formato espetáculo teatral. Em
            parceria com artistas indígenas e artistas habitantes das
            periferias múltiplas em busca de cosmovisões originárias e
            antropológicas não romantizadas, poéticas e dialéticas pelo
            reencantamento do mundo.
      </div>
    </div>
    
    
   
    
    
    
    
</div> 




<%- include("../partials/form") %>




<%- include('../partials/footer'); %>            
                                    