<%- include("../partials/header") %>
<%- include("../partials/menu") %>
                  
                  





  <div class="container d-flex justify-content-center text-light my-3 ">

                 
    <div class=" p-3 mx-1 text-center " style="width: 48rem;">
      <img src="img/logo.png" class="rounded card-img-top mx-auto d-block "style="width: 16rem;" alt="...">
      <div class="card-body   ">
        <h5 class="card-title    my-5 text-warning ">Breve Histórico</h5>
        <p class="card-text"> A cia Teatro de Encantarias nasce em 2010, fruto de uma
            pesquisa em antropologia teatral intitulada: Corpo, Memória e
            Cultura dos Povos desenvolvida pela artista Thabata Ewara e
            premiada pela FUNARTE/MINC-Prêmio Interações Estéticas (2011.
            Realizada inicialmente na região amazônica do Pará as margens
            dos rios Amazonas e Tapajós pesquisando teatralidades míticos
            populares (poéticas do imaginário) por meio das “corpOralidades”
            presentes nas manifestações culturais e históricas da região
            norte. Entre as principais montagens estão A Sombra do Merizeiro
            (2011), Vento ao Leste, Enquanto Sopra o Tempo (2012)
            Encantarias de Céu e Barco (2013/2016) e Sonho de Pedra
            realizado por meio do prêmio PROACLab (2021) no formato curta
            metragem, premiado como melhor filme categoria experimental no
            29° Festival de Cinema de Vitória (2022) e contemplado pela
            Secretaria Municipal de Cultura-SP na 2° Edição do Edital
            Múltiplas Linguagens(2022/2023)no formato espetáculo teatral. Em
            parceria com artistas indígenas e artistas habitantes das
            periferias múltiplas em busca de cosmovisões originárias e
            antropológicas não romantizadas, poéticas e dialéticas pelo
            reencantamento do mundo.
      </div>
    </div>
    
    
   
    
    
    
    
</div> 






<%- include('../partials/footer'); %>            
                                    